# Python
__pycache__/
*.py[cod]

# IDE
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.local

# Database files
data/*
